/demoapp/nbproject/private/
/demoapp/build/
/ThreadExample/nbproject/private/
/StringCheck/nbproject/private/
/StringCheck/build/
/ThreadExample/build/
/CompareArray/nbproject/private/
/CompareArray/build/
/Pattern/nbproject/private/
/Pattern/build/
/reg/nbproject/private/
/Registration/nbproject/private/
/first/nbproject/private/
/first/build/
/palindrome/nbproject/private/
/palindrome/build/
/drum/nbproject/private/
/drum/build/